<script src="/Scripts/index.js"></script>

Kategorije:
<table id="categoriesTable">
    <thead>
        <tr>
            <th>Naziv</th>
            <th>Akcije</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

Dokumenti:
<table id="documentsTable">
    <thead>
        <tr>
            <th>Naziv</th>
            <th>Akcije</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

